*{
    margin: 0;
    padding: 0;
    font-family: 'poppins'sans-serif;
    box-sizing: border-box;
}


body{
    background: linear-gradient(to right,skyblue,white);
    color: white;
    height:1000px;
    width: 1000px;
}

.wrapper{
    position: absolute;
    height: 800px;
    width: 800px;
    top: 90px;
    left: 90px;
    background:linear-gradient(to right,rgb(13, 116, 156),lightgree);
}
.wrapper .logo{
    top: 80px;
    left: 90px;
    height: 30px;
    width: 40px;
    color: aqua;
}

.wrapper .header-box{
    line-height: 40px;
    text-align: center;
    justify-content: center;
    font-size:20px ;
}

.wrapper .header-box h2{
    font-size:30px;
}

.wrapper .link{
    font-size: 19px;
    text-align: center;
    color: rgb(179, 168, 20);
}

.wrapper .link a{
    font-size: 30px;
}

.wrapper .contentbx form{
    padding: 27px 35px;
    margin: 18px 0;
    size: 12px;
    text-align: center;
    font-size: 40px;
    height: 90px;
    line-height:.74;
    border-color:gold ;

}

.wrapper  .contentbx  form .namebx{
    height: 30px;
    width: 100%;
    margin-top: 20px;
    box-sizing: 34px;
    text-align: center;
}

.wrapper .contentbx form .buttom1{
    height: 30px;
    width: bold;
    background-color: rgb(53, 208, 32);
    color: aqua;
    font-family: "consolas" ,sans-serif;
    font-size: 25px;
}